@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div {
    @apply scrollbar-thumb-slate-200 hover:scrollbar-thumb-slate-300 scrollbar-track-transparent scrollbar-thin
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-text-fill-color: unset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
